*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    margin: 0 auto;
    margin: 20px;
    margin-top: 5px;
    background-color: rgb(175, 173, 173, 0.2);
}
.box_header{
    background-color: rgba(100, 98, 95, 0.1);
}
.menu_header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #213570;
}
.left_menu, .right_menu {
    list-style: none;
    display: flex;
}
nav ul>li>a{
    color: #fff;

}
.right_menu li{
    margin-right: 25px;
}
.left_menu{
    margin-left: 10px;
}

.news1_main1{
    flex-basis: 55%;
    width: 600px;
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(to top, rgba(0,0,0,0.5) , rgba(189, 179, 179,0.1) 40%),url(img/1.jpg) ;
}
.text_news1{
    position: absolute;
    bottom: 0;
    height: 60px;
    border-left: 3px solid #fff;
    margin: 20px;
    padding-left: 20px;
}
.text_news1 > a{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.news2_main1, .news2_main2{
    flex-basis: 20%;
    height: 350px;
    background-color: #fff;
    width: 300px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}
.text_news{
    border-left:3px solid salmon ;
    padding-left: 20px;
    margin: 20px;
}
.text_news>a{
    font-weight: bold;
    font-size: 20px;
    
}
.main1{
    display: flex;
    justify-content: space-between;
}

.main2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news2_main2{
    flex-basis: 26%;
    height: 400px;
    width: 500px;
    margin-right: 25px;
}
.list_box{
    flex-basis: 42.5%;
    width: 100%;
    height: 400px;
    background-color: #ccc;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
}
.title_list{
    margin: 5px;
    text-transform: uppercase;
    color: blue;
    font-size: 25px;
}
.list{
    margin-top: 30px;
    margin-left: 50px;
}
.list ul li {
    font-size: 20px;
    margin-bottom: 30px;
}
.title_main3{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
    width: 300px;
}
.title_main3>h1{
    margin-bottom: 10px;
}
.line1{
    margin: 0 auto;
    width: 100px;
    border-bottom: 2px solid salmon;
}
.line2{
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    border-bottom: 3px solid salmon;
}
.news_main3{
    height: 340px;
    background-color: #fff;
    width: 350px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}
.text_news3{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}
.main3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 20px;
    height: 300px;
    background-color: #E94B01;
    display: flex;
    justify-content: space-between;
}
footer ul{
    text-align: left;
}
footer ul li {
    list-style: none;
    color: #fff;
    margin-top: 30px;
    font-size: 14px;
    
    
}
footer ul li a {
    color: #fff;
}
.box1 {
    margin-left: 300px;
}
.box3{
    margin-right: 50px;
}
img{
    max-width: 100%;
    object-fit: cover;
}